---
layout: page
title: "Senators"
description: "Current (2017-2018) Senators"
header-img: "img/home-bg.jpg"
---
<hr>
<h1>Class of 2018 – Senior Senators!</h1>
Emily Berman,
Sophie Chong,
Derik Kauffman,
Nikki Kim,
Daniel Ko, 
Lily McGuire-Eggleston,
Richie McNamara,
Anika Mehra,
Patrick Nie,
Darsan Swaroop Bellie,
Jeongwook Yi,
Azalea Yunus
<hr>
<h1>Class of 2019 – Junior Senators</h1>
Courtney Campbell,
Jeffrey Chang,
Lucas DiCerbo,
Sahgar Gupta,
Tony Kim,
Yoojee Kim,
Beverly Liu,
Jessica Ma,
Janet Mariadoss,
Aman Saiju,
Kevin Zhou
<hr>
<h1>Class of 2020 – Sophomore Senators</h1>
Ashlan Ahmed,
Rayhan Ahmed,
David Cai,
Elizabeth Ding,
Keena Gao,
Hannah Kim,
Maya Lamm,
Caroline Li,
Caroline Michaud,
Andrew Shen,
Darshana Venkatesh
<hr>
<h1>Class of 2021 – Freshman Senators</h1>
Nuri Hong,
Aansh Jha,
Athena Li,
Christina Li,
Benjamin Liu,
Megan Liu,
Surya Meiyappan,
Christine Wong 
<!--
{% for member in site.data.members %} {% if member.visible == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">
	
	<h1>{{ member.name }}</h1>
	
	<h2>{{ member.role }}</h2>
	
	{% if member.github %} 
	<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span> 
	{% endif %}
	{% if member.gplus %}
	<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png" | prepend: site.baseurl }}" style="height:20px">Google Plus</a></span>
	{% endif %}
	{% if member.url %}
	<span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
	{% endif %}
	
	</br>

	{% if member.bio %} 
	{{ member.bio }}
	{% endif %}
	
	<hr>
{% endif %}{% endfor %}
-->

